<!DOCTYPE html>
<html>

<head>
    <title>NDcleanroom</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" href="dist/css/main.mobile.css?<%= +(new Date()) %>" />
</head>

<body>
	<header>
		<a class="button">
			<span class="icon"></span>
			<span class="text"></span>
		</a>

		<h1 class="title"></h1>

		<a class="button">
			<span class="text"></span>
			<span class="icon"></span>
		</a>
	</header>

	<footer>
		<a class="icon ion-ios7-people" href="#users"></a>
		<a class="icon icon-custom-equipment" href="#equipment"></a>
	</footer>

	<div class="content"></div>

    <script src="dist/js/require.js" data-main="mobile/js/config.main"></script>
</body>

</html>