<!DOCTYPE html>
<html>

<head>
    <title>NDcleanroom</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="dist/css/main.desktop.css">
</head>

<body>

    <header>
        <a href="#" class="logo">
            <h1>
                <span class="nd">ND</span><span class="cleanroom">cleanroom</span>
            </h1>
        </a>
        <nav>
            <a href="#">Current</a>
            <a href="#users">Users</a>
            <a href="#equipment">Equipment</a>
            <div class="active-marker"></div>
        </nav>
    </header>

    <div class="content"></div>

    <script src="dist/js/require.js" data-main="desktop/js/config.main"></script>
</body>

</html>
