.active-equip-item {
	
    position: relative;
    width: 100%;
    height: 80px;
    white-space: nowrap;
    margin: $content-padding 0px;
    padding: $content-padding/2;
    background-color: white;

    &:first-child {
        margin-top: 0;
    }

    box-shadow: 2px 2px 12px -1px rgba(0, 0, 0, 0.5);

    .icon-container {
        display: inline-block;
        vertical-align: top;
        width: 20%;
        height: 100%;

        .icon {
            display: block;
            width: 100%;
            height: 100%;

            &.custom-equipment {
                background-image: url("/dist/img/icon-custom-equipment.png");
                background-position: center;
            }
        }
    }

    .info-container {
        display: inline-block;
        vertical-align: top;
        width: 70%;
        height: 100%;

        .name, .description {
            display: block;
        }

        .name {
            font-size: 1.2em;
            font-weight: normal;
        }
    }

    .status-container {
        display: inline-block;
        vertical-align: top;
        width: 10%;
        height: 100%;
        text-align: center;

        .icon {
            display: inline-block;
            width: 1.3em;
            height: 1.3em;
            font-size: 1.3em;
            line-height: 1.3em;
            background-position: center;

            &.green {
                font-size: 0.9em;
                border-radius: 0.65em;
                background-color: #00FF44;
                color: white;
                font-weight: bold;
                -webkit-font-smoothing: antialiased;
                display: inline-block;
            }

            &.red {
                color: #FF3333;
            }

            &.yellow {
                color: #F7F733
            }

        }
    }
}